[core]
	excludesfile = ~/.gitignore.global
	editor = vim
	pager = lv -c
	ui = auto
[include]
    path = ~/.gitconfig.local
[alias]
    co = checkout
    st = status
    sh = show
    cm = commit
    ps = push
    pl = pull
    br = branch
    df = diff

    rmall = "!git status | grep deleted: | awk '{print $3}'  | xargs git rm"
[color]
	ui = true
