[core]
	excludesfile = ~/.gitignore.global
	editor = vim
	pager = lv -c
	ui = auto
[init]
	templatedir = ~/.git_template
[include]
    path = ~/.gitconfig.local
[color]
	ui = true
[push]
	default = simple
[alias]
    co = checkout
    st = status
    sh = show
    cm = commit --verbose
    cmm = commit -m
    ps = push
    pl = pull
    br = branch
    df = diff
    dfs = diff --staged
    dt = difftool
    dts = difftool --staged
    ls = ls-files -v
    stage = add
    unstage = reset HEAD
    # ignoreファイルを表示
    ignored = ls-files --others -i --exclude-standard
    #コミットメッセージを変えずにamend
    amend = commit --amend -C HEAD
    #すでに削除されているファイルを全てgit rmする 
    rmall = !git rm $(git ls-files -d)
    #gitの管理下にあるファイルを無視する
    skip = update-index --skip-worktree
    #もとに戻す
    noskip = update-index --no-skip-worktree
    alias = !git config --get-regexp alias |  sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\ = \\2/'
    lg = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
[diff]
	tool = vimdiff
[difftool]
	prompt = false
